<div class="header-container">
  <header class="wrapper clearfix">
    <h1 class="title">Twerk Academy</h1>
    <!-- <nav>
        <ul>

        <li><a href="../classes.html.erb">Classes</a></li>
        <li><a href="../about.html.erb">About Us</a></li>
        <li><a href="#">Testimonials</a></li>

        </ul>
    </nav> -->
  </header>
</div>