<div style = "
	height: 100%;
	background-color: f4f4f4;
">
	<h1>About Us</h1>

	<p>Twerk Academy is THE go-to academy for all of your twerking needs. Our mission is to release the inner twerker inside of our students by helping them excel at tongue revealing and hammerlicking, as well as providing them with techniques to garner the most attention when sharing their twerking with the world.</p>

	<p>Twerk on, people, twerk on. </p>
</div>