<!-- <div style="height: 100%; background-color: #f4f4f4; padding: 10px;"> -->

<div class="landing">
	<h1 class="class-h1">Work It, Twerk It</h1>

	<h2 class="class-h">Twerking</h2>

	<p>Twerk with the best of 'em! We start from the basics of twerking all the way to the top! From pose and form to poles and wall-twerking, this class is for twerkers of all levels. </p>

	<%= link_to checkout_path do %>
	      <button class="class-btn">Enroll</button>
	<% end %>

	<h2 class="class-h">Hammerlicking</h2>

	<p>The art of hammerlicking is not for the sligt of heart. Learn the not-so-subtle-at-all art here. We cover hammerlicking, eyewinking, and tongue wagging. Wrecking ball included for the brave!</p>

	<%= link_to checkout_path do %>
	  <button class="class-btn">Enroll</button>
	<% end %>

</div>
