<div style="height: 100%; background-color: #f4f4f4; padding: 10px;">	

<h1 class="class-h1">Work It, Twerk It</h1>

<h2 class="class-h">Twerking</h2>

<p>Twerk with the best of 'em! We start from the basics of twerking all the way to the top! From pose and form to poles and wall-twerking, this class is for twerkers of all levels. </p>

<button class="class-btn">Enroll</button>

<h2 class="class-h">Hammerlicking</h2>

<p>The art of hammerlicking is not for the sligt of heart. Learn the not-so-subtle-at-all art here. We cover hammerlicking, eyewinking, and tongue wagging. Wrecking ball included for the brave!</p>

<button class="class-btn">Enroll</button>

</div>


<!-- 	<p>We provide classes for twerkers of all levels. Unsure of where your twerking skills stand? Come in for our evaluation class, <i>Levels of Twerking</i>.</p>

	<h2 class="class-h">Levels of Twerking</h2>

	<p>Levels of Twerking is our evaluation class. In this hour-long session, we evaluate your mastery of the twerks before placing you in the proper class of your needs.</p>

	<button class="class-btn">Sign up for Evaluation</button>

	<h2 class="class-h">Beginners Twerk</h2>

	<p>Never twerked in your life? This class introduces the basics of twerking. We start with pose and form, them progress to slow rolls and bending-angles.</p>

	<button class="class-btn">Enroll</button>

	<h2 class="class-h">Work It, Twerk It</h2>

	<p>You have twerk talent but still have a way to go before you reach mastery. In this course we explore  hammerlicking and wall-twerking. We introduce tongue wagging and eye winking to round out your twerking skills. </p>

	<button class="class-btn">Enroll</button>

	<h2 class="class-h">Twerkmaster</h2>

	<p>Baby, you can twerk with the best! We keep your skillz on point with all the lastest twerk moves. Learn pole-vaulting and performing. Display your twerkiness with twerk battles and presentations. And best of all, be a part of our twerk flash mobs. Twerk Nation!</p>

	<button class="class-btn">Enroll</button> -->