 <h1>Welcome to Twerk Academy!</h1>

 <P>Learn to work and twerk that with the best!</P>

 <p>At Twerk Academy, you will find all the latest moves. One class with us will have you twerking faster than the rap videos, and hammerlicking harder than Miley Cyrus herself. Sign up today!</p>

<img src="../../assets/images/twerk-home.jpg" width="300">
 <button>Check Us Out</button>

