<div class="landing">
	<h2>Thanks, you paid <strong>$65.00</strong>!</h2>


	<button id="js-start">Get Pumped for your class</button>
	<div class="js-featured-miley twerk">
	  <p>
	  	<%= image_tag "bears.jpg", class: "" %>
	  	<%= image_tag "miley.jpg", class: "" %>
	  </p>
	</div>


</div>